USE [DB_MetaData]
GO
/****** Object:  Table [dbo].[DataFlow]    Script Date: 08/11/2021 8:15:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataFlow](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[LSET] [datetime] NULL,
	[Source] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DataFlow] ON 

INSERT [dbo].[DataFlow] ([ID], [Name], [LSET], [Source]) VALUES (34, N'Accident_Severity', CAST(N'2021-11-08T19:35:24.470' AS DateTime), N'UK_CAR_Accident')
INSERT [dbo].[DataFlow] ([ID], [Name], [LSET], [Source]) VALUES (35, N'Age_Band', CAST(N'2021-11-08T19:35:25.463' AS DateTime), N'UK_CAR_Accident')
INSERT [dbo].[DataFlow] ([ID], [Name], [LSET], [Source]) VALUES (36, N'Casualty_Class', CAST(N'2021-11-08T19:35:24.570' AS DateTime), N'UK_CAR_Accident')
SET IDENTITY_INSERT [dbo].[DataFlow] OFF
